.card-deck-config {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-deck-config-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    #59ee59,
    #57c4e8,
    #b93ab9
  );
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.15rem;
}
.card-deck-config-checkbox {
  appearance: none;
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 2px solid var(--secondary-color);
  background: var(--secondary-color);
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.1s;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  display: inline-block;
}

.card-deck-config-checkbox:checked {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
}

.card-deck-config-checkbox:checked::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 12px;
  border: solid var(--primary-color);
  border-width: 0 3px 3px 0;
  border-radius: 1px;
  /* The following centers the V visually and vertically */
  transform: translate(-50%, -60%) rotate(45deg);
}
