.card-deck-config {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card-deck-config-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    #59ee59,
    #57c4e8,
    #b93ab9
  );
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.15rem;
}
.card-deck-config-checkbox {
  margin-right: 0.5rem;
}
.card-deck-config-checkbox:checked {
  accent-color: var(--secondary-color);
}
