.card {
  width: calc(100vmin / 4);
  aspect-ratio: 1 / 1;
  border-radius: 8px;
}
.card-back {
  background-color: gray !important;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.purple {
  background-color: purple;
}
