.poisson-clown {
  background-image: url("../../assets/aquatic/poisson_clown.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.bulots {
  background-image: url("../../assets/aquatic/bulots.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.huitre {
  background-image: url("../../assets/aquatic/huitre.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.crevettes {
  background-image: url("../../assets/aquatic/crevettes.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.baleine {
  background-image: url("../../assets/aquatic/baleine.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.tortues-marines {
  background-image: url("../../assets/aquatic/tortues%20marines.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.concombre {
  background-image: url("../../assets/aquatic/concombre.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.requin-blanc {
  background-image: url("../../assets/aquatic/requin_blanc.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.sirene {
  background-image: url("../../assets/aquatic/sirene.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.murene {
  background-image: url("../../assets/aquatic/murene.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.neon {
  background-image: url("../../assets/aquatic/neon.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.poisson-rouge {
  background-image: url("../../assets/aquatic/poisson_rouge.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.requin-marteau {
  background-image: url("../../assets/aquatic/requin_marteau.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.hippocampes {
  background-image: url("../../assets/aquatic/hippocampes.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.recif-coralien {
  background-image: url("../../assets/aquatic/recif_coralien.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.poisson-globe {
  background-image: url("../../assets/aquatic/poisson_globe.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.pieuvre {
  background-image: url("../../assets/aquatic/pieuvre.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.homard {
  background-image: url("../../assets/aquatic/homard.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.meduses {
  background-image: url("../../assets/aquatic/meduses.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.algues {
  background-image: url("../../assets/aquatic/algues.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
.fogu {
  background-image: url("../../assets/aquatic/fogu.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--secondary-color);
}
