.memory-board {
  gap: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 100dvh;
  min-height: fit-content;
  justify-content: center;
  gap: 1em;
  padding: 1em;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
}

@media (orientation: portrait) {
  .container {
    flex-direction: column;
  }
  .memory-board {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .actions {
    flex-direction: row;
    font-size: 1.5em;
  }
}

.new-game-button {
  padding: 10px 20px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    red,
    orange,
    yellow,
    #59ee59,
    #57c4e8,
    #b93ab9
  );
  color: black;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.15em;
}
